@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
}
:root {
  /*dvd start*/
  --darkDesaturatedBlue-mainBckground: hsl(222, 26%, 31%);
  --darkDesaturatedBlue-tggleKeypad: hsl(223, 31%, 20%);
  --darkDesaturatedBlue-screenBckground: hsl(224, 36%, 15%);
  /*backgroundButtons*/
  --desaturatedDarkBlueBTN: hsl(225, 21%, 49%);
  --redBTN: hsl(6, 63%, 50%);
  --lightGrayishOrangeBTN: hsl(30, 25%, 89%);
  /*Text*/
  --darkGrayishBlue: hsl(221, 14%, 31%);
  /*Font*/
  --spartanFont: 'Spartan', sans-serif;
  /*Border bottom*/
  --grayishOrangeBB: hsl(28, 16%, 65%);
  --desaturatedDarkBlueBB: hsl(224, 28%, 35%);
  --darkRedBB: hsl(6, 70%, 34%);
}
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

/*Manejo de colores*/
.dvd-mainBack {
  background-color: var(--darkDesaturatedBlue-mainBckground) !important;
}
.dvd-tggleKeypad {
  background-color: var(--darkDesaturatedBlue-tggleKeypad) !important;
}
.dvd-screenBckground {
  background-color: var(--darkDesaturatedBlue-screenBckground) !important;
}
.text-white {
  color: white !important;
}
.text-white {
  color: Var(--darkGrayishBlue);
}
.text-darkGrayishBlue {
  color: Var(--darkGrayishBlue);
}

/*Border Bottoms*/
.border-bottom-theme1-key0 {
  border-bottom: 5px solid var(--grayishOrangeBB) !important;
}
.border-bottom-theme1-key1 {
  border-bottom: 5px solid var(--desaturatedDarkBlueBB) !important;
}
.border-bottom-theme1-key2 {
  border-bottom: 5px solid var(--darkRedBB) !important;
}

/*BACKGROUND BUTTONS*/
.btn-back-theme10 {
  background-color: var(--lightGrayishOrangeBTN);
}
.btn-back-theme11 {
  background-color: var(--desaturatedDarkBlueBTN);
}
.btn-back-theme12 {
  background-color: var(--redBTN);
}

.calculator-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  font-family: var(--spartanFont);
  width: 560px;
  height: 820px;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.header .calc {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .theme {
  width: 25%;
  display: flex;
}
.header .theme .title-theme {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .theme .switch-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .theme .numbers {
  width: 73%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4em 0 0.4em;
  margin-bottom: 0.2em;
}
.header .theme .switch-container .switch {
  width: 100%;
  height: 35%;
  background-color: var(--darkDesaturatedBlue-tggleKeypad);
  border-radius: 1.7em;
  box-sizing: border-box;
  padding: 0.4em;
  display: flex;
  align-items: center;
}
.header .theme .switch-container .switch div {
  width: 25%;
  height: 97%;
  background-color: var(--redBTN);
  border-radius: 50%;
}
/*SCREEN*/
.screen {
  width: 100%;
  height: 30%;
  border-radius: 0.6em;
  box-sizing: border-box;
  padding: 1.5em 1em 1.5em 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 150%;
  margin-bottom: 1.5em;
}
.keypad {
  border-radius: 0.6em;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em;
}

.keypad > button {
  height: 14%;
  flex: 1 0 16%;
  border-radius: 0.8em;
  border: none;
  font-family: var(--spartanFont);
  position: relative;
  padding-top: 0.4em;
  cursor: pointer;
  margin: 1em;
}
.keypad button > h1 {
  font-size: 270%;
}

@media all and (max-width: 649px) {
  .calculator-container {
    box-sizing: border-box;
    padding: 1em;
  }
  .calculator {
    font-family: var(--spartanFont);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 15%;
    align-content: flex-start;
  }
  .header .theme {
    width: 40%;
  }
  .header .theme .switch-container .switch {
    width: 100%;
    height: 35%;
    padding: 0.3em;
  }
  .header .theme .switch-container .switch > div {
    width: 20%;
  }
  .screen {
    height: 15%;
    margin-bottom: 1em;
  }
  .screen > h1 {
    font-size: 120%;
  }
  .keypad > button {
    flex: 1 0 20%;
    margin: 0.4em;
    height: 17%;
    font-size: 90%;
  }
}
