.calculator-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  font-family: var(--spartanFont);
  width: 560px;
  height: 820px;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.header .calc {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

/*SCREEN*/
.screen {
  width: 100%;
  height: 30%;
  border-radius: 0.6em;
  box-sizing: border-box;
  padding: 1.5em 1em 1.5em 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 150%;
  margin-bottom: 1.5em;
}
.keypad {
  border-radius: 0.6em;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em;
}

.keypad > button {
  height: 14%;
  flex: 1 0 16%;
  border-radius: 1em;
  border: none;
  font-family: var(--spartanFont);
  position: relative;
  padding-top: 0.4em;
  cursor: pointer;
  margin: 1em;
  border: none;
}
.keypad > button:active::after,
.keypad > button::after,
.keypad > button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.keypad > button::after {
  box-shadow: 2px 2px 2px 3px rgb(0, 0, 0) !important;
  animation: opacityEffect 0.1s linear !important;
}
.keypad > button::before {
  box-shadow: -1px -2px 2px 1px rgb(255, 255, 255) !important;
  animation: opacityEffect 0.1s linear !important;
}
.keypad > button:active {
  top: 4px;
}
.keypad > button:active::after {
  box-shadow: inset -2px -2px 3px 3px black !important;
  z-index: 100 !important;
}
.keypad > button:active::before {
  display: none;
  box-shadow: 0px 0px 0px 0px inherit;
}
.keypad button > h1 {
  font-size: 270%;
}
@keyframes opacityEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 649px) {
  .calculator-container {
    box-sizing: border-box;
    padding: 1em;
  }
  .calculator {
    font-family: var(--spartanFont);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 15%;
    align-content: flex-start;
    justify-content: center;
  }
  .header .calc {
    width: 30%;
  }
  .header .theme {
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
  }
  .header .theme .title-theme {
    width: 72% !important;
    display: flex !important;
    justify-content: flex-end !important;
  }
  .header .theme .switch-container {
    width: 28% !important;
  }
  .header .theme .switch-container .switch {
    width: 100%;
    height: 35%;
    padding: 0.3em;
    margin-left: 0.4em;
  }
  .screen {
    height: 15%;
    margin-bottom: 1em;
  }
  .screen > h1 {
    font-size: 120%;
  }
  .keypad > button {
    flex: 1 0 20%;
    margin: 0.8em;
    height: 13%;
    font-size: 50%;
  }
}
